.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 360px;
  background-size: cover;
  width: 100%;
}
.banner__text h1 {
  color: #ffffff;
  font-weight: bold !important;
}
